extends layout

block content

    table#desc

    ul
        each WSJF in WSJFList
            li
                a#listItem(href=WSJF.id) #{WSJF.itemName}: #{WSJF.redcostotal} EUR/week // Estimated duration: #{WSJF.estimationValue} Weeks = Time/Value Efficiency: #{WSJF.WSJFValue}

        else
            li
            a There are no Items


